<div class="container">
<%if current_user.present?%>
<br>
<%#= image_tag current_user.image.path,style: "width: 250px; display: block"%>
<br>
<%else%>
<h1>Welcome!</h1>
<h4>To see the nature of life</h4>
<%end%>
</div>
<style type="text/css">
	body{
background-image: url('https://media.cntraveller.in/wp-content/uploads/2020/09/india-tourism7.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
</style>